* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
	background: rgba(28, 35, 50, 1);
    color: white;
}

#workspaces button {
    padding: 0 5px;
	background: #30365F;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
	background: #30365F;
}

#custom-weather {
	background: #30365F;
}

#custom-disk_root {
	background: #30365F;
}

#cpu {
    background-color: #5ccc96;
    color: #000000;
}

#memory {
    background-color: #f2ce00;
    color: #000000;
}

#network {
    background-color: #b3a1e6;
    color: #000000;
}

#network.disconnected {
    background: #f53c3c;
}

#backlight {
    background-color: #7a5ccc;
    color: #000000;
}

#pulseaudio {
    background-color: #00a3cc;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #00a3cc;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock, #custom-weather, #cpu, #memory, #network, #backlight, #pulseaudio, #battery {
    padding: 2px;
}
